html{
    background-color: #191919;
    color: #b1afaa;
}

div#navborder{
    height: 3px;
    background-color: #0cde40;
    margin-bottom: 5px;
}

nav#barNav{
    display: flex;
}

div.content{
    flex: 1;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}

a.navbar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #b1afaa;
}

a.navbar:hover{
    color: lightblue;
}

a#CurrentPage{
    color: lightblue;
}

hr {
    top: 1px;
    border: none;
    height: 1px;
    background: #b1afaa;
    margin-bottom: 15px;
}

img.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div#contact{
    color: lightblue;
}

h1,h2{
    font-weight: normal;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div.Page{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    background-color: #191919;
}
section{
    display: flex;
}
.bar{
    width: 500px;
}

div.Left{
    flex: 1;
    flex-direction: column;
    text-align: center;
    
    background-color: #191919;
  border-right: 1px solid gray;
  height: 550px;
}

div.Right{
    flex: 1.5;
  background-color: #191919;
  padding-left: 50px;
}

div.footer{
    position:fixed;
    bottom: 0;
    margin-left: 45%;
   
}

@media only screen and (max-width: 800px){
    section{
        flex-direction: column;
    }

}